.Estimate {
    width: 100%;
    margin: 0 auto;
}

.Estimate .wrapEstimate {
    width: 95%;
    margin: 25px;
    background: #fff;
    border-radius: 2px;
    padding: 50px;
}

.estimate {
    color: #222;
    font-weight: 300;
    padding-top: 30px;
    padding-bottom: 30px;
}

.estimate h3 {
    color: #222;
    font-weight: 400;
}

.Estimate02 {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg01.png);
}

@media screen and (max-width: 896px) {
    .Estimate .wrapEstimate {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
}