@font-face {
    font-family: '851Gkktt_005';
    src: url('./font/851Gkktt_005.ttf'), /* IE9 Compat Modes */
    url('./font/851Gkktt_005.ttf') format('embedded-opentype'), /*IE6-IE8*/
    url('./font/851Gkktt_005.woff') format('woff'), /*Pretty Modern Browsers*/
    url('./font/851Gkktt_005.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./font/851Gkktt_005.ttf') format('svg');
    /* Legacy iOS */
}

* {
    font-family: '851Gkktt_005';
}

.App {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #F26152;
}

.App-header {
    width: 40%;
    margin: 0 auto;
}

.App-logo img {
    width: 350px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        /* animation: App-logo-spin infinite 20s linear; */
        width: 100%;
    }
    .App-logo img {
        width: 70%;
    }
}

.App-header {
    background-color: #F26152;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.hi {
    opacity: 0;
    transition: 0.5s;
}

.hi-entering {
    opacity: 1;
}

.hi-entered {
    opacity: 1;
}

.FadeInContents {
    transition-timing-function: cubic-bezier(1, 0, 0, 1)
}

.moveBtn {
    bottom: 30px;
    margin: 0px auto;
    width: 270px;
}

.moveBtn .firstBtn {
    width: 270px;
    background-color: #1655B6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
    color: #fff;
    margin: 0 auto;
    padding: 11px 0;
    list-style: none;
    border: 1px #fff solid;
    border-radius: 35px;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}

.Homeimg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* -webkit- transform: translateY(-50%) translateX(-50%); */
}