@font-face {
    font-family: '851Gkktt_005';
    src: url('./font/851Gkktt_005.ttf'), /* IE9 Compat Modes */
    url('./font/851Gkktt_005.ttf') format('embedded-opentype'), /*IE6-IE8*/
    url('./font/851Gkktt_005.woff') format('woff'), /*Pretty Modern Browsers*/
    url('./font/851Gkktt_005.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./font/851Gkktt_005.ttf') format('svg');
    /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* * {
    font-family: '851Gkktt_005';
} */

.concept {
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.subconcept {
    font-size: 16px;
    color: rgb(39, 39, 39);
    letter-spacing: 1px;
    margin-bottom: 10px;
}

ul {
    margin: 0 auto;
    width: 270px;
}

.startBtn {
    background-color: #F26152;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
    color: #fff;
    margin: 0 auto;
    padding: 11px 0;
    list-style: none;
    border: 1px #fff solid;
    border-radius: 30px;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}

.ReLogin {
    background-color: #1655B6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 20px 0px;
    color: #fff;
    margin: 0 auto;
    padding: 11px 0;
    list-style: none;
    border: 1px #fff solid;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}